---
layout: default
title: Home
---
<div id="grid" class="my-shuffle-container row">
  {% for text in site.texte %}
  <div class="grid__brick col-sm-6 col-md-4 col-lg-2 col-xl-2 {{ text.container__class }} {{ text.special }}" data-groups='[{{ text.tags }} ]'>
    <div class="{{ text.container }} {{ text.font }} {{ text.note }}" style="border: none;">
      {{ text.content }}
    </div>
  </div>
  {% endfor %}
</div>

{% for audio in site.static_files %}
    {% if audio.path contains 'audio/' %}
    {{ audio.filename}}
        <audio id="{{ audio.name | replace: '.mp3', '' }}" src="{{ site.baseurl }}{{ audio.path }}" type="audio/mp3"></audio>
    {% endif %}
{% endfor %}
