<div class="filter__bar row">
  <button id='all' class="button">alle</button>
  <button id='btn-first' class="button">ansprache</button>
  <button id='btn-second' class="button">schnecke</button>
  <button id='btn-third' class="button">es war einmal</button>
  <button id='btn-fourth' class="button">wir</button>
  <button id='btn-fifth' class="button">absage</button>
  <button id='btn-six' class="button">impressum</button>
  <button id='btn-seventh' class="button"><span class="strike"> jetzt </span></button>
</div>
