/* layout */

html, body {
  margin: 0;
  padding: 20px;
}

.highlight {
  background-color: yellow;
}

.highlight::before {
  content:"\e072";
  font-family: 'Glyphicons Halflings';
}

.current {
  color: green;
}

hr {
  margin-top:200px;
}

.grid__brick {
    border: 1px dashed #eee;
    padding-bottom: 20px;
}

/* container sizes */

.t-auto {}

.h-small {
  min-height: 50px;
}

.h-medium {
  min-height: 150px;
}

.h-large {
  min-height: 300px;
}

/* font-size */

.f-small {
  font-size: 1.5rem;
}

.f-medium {
  font-size: 2rem;
}

.f-large {
  font-size: 2.5rem;
}

.f-xlarge {
  font-size: 3rem;
}
