/* layout */

html, body {
  margin: 0;
  padding: 20px;
  font-family: times,serif;
}

.grid__brick:hover{
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  cursor: default;
}

.nr {
  font-family: helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.highlight {
  background-color: yellow;
}

.audio {
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px solid;
  padding: 4px;
}

.strike {
  text-decoration: line-through;
}

.current {
  color: green;
}

hr {
  margin-top:200px;
}

.grid__brick {
    border: 1px #eee;
    border-bottom-style: none;
    border-left-style: dotted;
    border-right-style: none;
    border-top-style: dotted;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 5px;
}

.filter__bar {
  margin-bottom: 20px;
  margin-left: -10px;
}

.button {
  background-color: #000;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-family: helvetica,sans-serif;
  display: inline-block;
  margin-left: none;
}

/* container formats */

.t-auto {}


.h-small {
  min-height: 80px;
}

.h-medium {
  min-height: 160px;
}

.h-large {
  min-height: 320px;
}

/* note background */

.no__padding {
  padding: 0!important;
}

.c-yellow {
  background: yellow;
  padding: 10px;
}

/* font-formats */

.f-link {
  color: blue;
}

.hyperlink {
  color: blue;
}

.hyperlink:hover {
  color: blue;
}

.f-small {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.f-medium {
  font-size: 2.1rem;
  line-height: 2.4rem;
}

.f-large {
  font-size: 2.7rem;
  line-height: 3.0rem;
}

.f-xlarge {
  font-size: 3.3rem;
  line-height: 3.6rem;
}
