<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ "./assets/css/styles.css" | relative_url }}" >

  </head>
  <body>
    <!-- {% include navigation.html %} -->
    {{ content }}
  </body>
  <script type="text/javascript" >
    window.shuffleInstance = new window.Shuffle(document.getElementById('grid'), {
    itemSelector: '.grid__brick',
    sizer: '.my-sizer-element',
    randomize: true
  });
  </script>
</html>
