<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://unpkg.com/shufflejs@5" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "./assets/css/styles.css" | relative_url }}" >

  </head>
  <body>
      {% include filter.html %}
      {{ content }}
  </body>
  <script type="text/javascript" >

  var Shuffle = window.Shuffle;
  var element = document.querySelector('#grid');
  var sizer = element.querySelector('.my-sizer-element');

  var shuffleInstance = new Shuffle(element, {
    itemSelector: '.grid__brick',
    sizer: sizer // could also be a selector: '.my-sizer-element'
  });
  // shuffleInstance.filter('animal');
  $("#all").on("click", function(){
     shuffleInstance.filter(['ansprache','schnecke','einmal','wir','absage','jetzt']);
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });
  $("#btn-first").on("click", function(){
     shuffleInstance.filter('ansprache');
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });
  $("#btn-second").on("click", function(){
     shuffleInstance.filter('schnecke');
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });
  $("#btn-third").on("click", function(){
     shuffleInstance.filter('einmal');
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });
  $("#btn-fourth").on("click", function(){
     shuffleInstance.filter('wir');
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });
  $("#btn-fifth").on("click", function(){
     shuffleInstance.filter('absage');
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });
  $("#btn-six").on("click", function(){
     shuffleInstance.filter('imprint');
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });
  $("#btn-seven").on("click", function(){
     shuffleInstance.filter('jetzt');
     $('.button').removeClass('btn-active');
     $(this).addClass('btn-active');
  });


  var playing = false;

  $('.audio').click(function() {
      $(this).toggleClass("down");
      var el = $(this).attr("audio-id");
      var audioTarget = "#"+el;
      if (playing == false) {
          $(audioTarget)[0].play();
          playing = true;
          oldVal = $(this).text();
          $(this).text("❚❚");
          // $(this).text("stop sound");
      } else {
        $(audioTarget)[0].pause();
        playing = false;
        $(this).text(oldVal);
        // $(this).text("restart sound");
      }

  });

    var pupil = document.getElementById("pupil");
    var eyeClip = document.getElementById("eyeClip");


    document.addEventListener("mousemove", function (e) {
        var eyeHeight = 250;
        var eyeWidth = 250;

        var left = (e.clientX/window.innerWidth)*eyeWidth-125;
        var top = (e.clientY/window.innerHeight)*eyeHeight-125;
        pupil.setAttribute("transform", "translate(" + left + " " + top + ")");
    }, false);

    $(document).ready(function(){
      $('#all').trigger( "click" );
      $('#all').removeClass('btn-active');
    });



  </script>
</html>
